# Virtual Environment
data_pre/
venv/
env/
ENV/
*.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Requirements (uncomment the line below if you want to ignore requirements.txt)
# requirements.txt
